.button {
    margin: 10px auto;
    padding: 40px 3px;
    background-color: #F0FFF0;
    color: rgb(24, 23, 22);
    text-transform:  uppercase;
    width: 15em; 
    white-space: pre-line; /* перенос строки*/
    border: 0.2rem solid #A9A9A9;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

